/* Start Variables */
:root {
    --home-col: #dbdbdb;
    --base-col1: #e93c70;
    --sell-col: #d9d9d9;
    --base-col2: #fefefe;
    --information-col: #f1f1f1;
    --padding-section: 25px;
    --font-size: 42px;
    --ourWay-2019: #e63c6e;
    --ourWay-2020: #4ebbbd;
    --ourWay-2021: #5784c0;
    --ourWay-2022: #313131;
}
/* End Variables */

/* Start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
}
ul {
    list-style: none;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* meduim */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */

/* Start components */
/* End components */

/* Start header */
header {
    padding: var(--padding-section) 0;
    background-color: var(--base-col2);
    display: flex;
    align-items: center;
}
header .container {
    display: flex;
    align-items: center;
}
/* image part */
header .logo img {
    width: 45px;
}
/* links part */
header .links {
    flex: 1; /* to take all valid space */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* to put links part in the end of the space */
}
header .links i {
    font-size: 25px;
    position: relative;
    right: 25px;
}
/* nav part */
header .links nav {
    position: relative;
    display: none;
}
header .links i:hover ~ nav {
    display: block;
}
header nav::before {
    content: "";
    position: absolute;
    border: solid 14px;
    border-color: transparent transparent black transparent;
    right: 25px;
    bottom: -55px;
}
header nav ul {
    padding: 28px;
    background-color: rgba(70, 70, 70, 0.632);
    border-radius: 10%;
    width: 180px;
    position: absolute;
    right: 0px;
    top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* a (links) part */
header ul li a {
    text-decoration: none;
    color: var(--base-col2);
    font-size: 16px;
    font-style: normal;
    transition: 0.5s;
}
header ul li a:hover {
    font-size: 15px;
    color: var(--base-col1);
}
/* End header */

/* Start home */
.home {
    padding: var(--padding-section) 0;
    display: flex;
    align-items: center;
    background-color: var(--home-col);
}
.home .container {
    display: flex;
    align-items: center;
}
/* text part */
.home .text {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
/* inside text */
.home h1 {
    font-weight: normal;
    margin: 0;
}
.home h1 span {
    font-weight: bold;
}
.home b a {
    color: black;
}
/* read more part */
.home button {
    background-color: var(--base-col1);
    border: none;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
}
.home button a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
/* image part */
.home .image img {
    width: 700px;
}
/* media query */
@media (max-width: 992px) {
    .home .container {
        flex-direction: column;
    }
}
@media (max-width: 767px) {
    .home .image img {
        width: 300px;
    }
}
/* End home */

/* start sell */
.sell {
    padding-bottom: var(--padding-section);
    background-color: var(--base-col2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sell h1 {
    background-color: var(--sell-col);
    font-weight: normal;
    text-align: center;
    font-size: var(--font-size);
    width: 100%;
    margin: auto 0;
    padding: 100px 0;
}
.sell .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sell h1 span {
    font-weight: bold;
    font-size: 44px;
}
/* All boxes */
.sell .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -60px;
    gap: 20px;
}
.sell .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 30px;
    height: 400px;
    padding: 10px;
    position: relative;
    background-color: var(--base-col2);
    border-radius: 10px;
}
.sell .box::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 25px;
    z-index: 1;
}
/* box one */
.sell .box.one::before {
    background-color: #eb668f;
}
/* box two */
.sell .box.two::before {
    background-color: #67c6c8;
}
/* box three */
.sell .box.three::before {
    background-color: #95b3db;
}
/* box four */
.sell .box.four::before {
    background-color: #eba872;
}
/* inside box */
.sell .box i {
    font-size: 50px;
    margin-top: 60px;
    position: relative;
    right: 30px;
    z-index: 2;
}
.sell .box p {
    color: #787878;
}
/* Learn more part */
.sell button {
    background-color: var(--base-col2);
    border: solid 2px;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
}
.sell button a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}
/* media query */
@media (max-width: 767px) {
    .sell .boxes {
        flex-direction: column;
    }
}
@media (min-width: 767px) and (max-width: 992px) {
    .sell .boxes {
        flex-wrap: wrap;
        gap: 40px 120px;
    }
    .sell .box {
        width: 250px;
    }
}
/* End sell */

/* Start our way */
.ourWay {
    padding: var(--padding-section) 0;
    background-color: var(--base-col2);
    display: flex;
    align-items: center;
}
.ourWay .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ourWay h1 {
    font-weight: normal;
    font-size: var(--font-size);
}
/* All boxes */
.ourWay .boxes {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--base-col2);
    gap: 20px;
    width: 100%;
}
.ourWay .boxes .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    padding: var(--padding-section);
}
/* horizontal boxes */
.ourWay .boxes .column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    position: relative;
    bottom: 140px;
    height: 340px;
}
/* box one */
.ourWay .box.one {
    background-color: var(--ourWay-2019);
    width: 260px;
    height: 220px;
}
/* box two */
.ourWay .box.two {
    background-color: var(--ourWay-2020);
    width: 35%;
    height: 100%;
}
/* box three */
.ourWay .box.three {
    background-color: var(--ourWay-2021);
    width: 35%;
    height: 100%;
}
/* box four */
.ourWay .box.four {
    background-color: var(--ourWay-2022);
    width: 260px;
    position: relative;
    bottom: 280px;
    height: 220px;
}
/* inside box */
.ourWay .boxes .box h1 {
    font-weight: bold;
    margin: auto 0 0 0;
    font-size: 48px;
}
.ourWay .boxes .box p {
    margin: 0 0 auto 0;
}
/* media query */
@media (max-width: 991px) {
    .ourWay .boxes .column {
        justify-content: space-around;
        bottom: 0;
    }
    .ourWay .box.four {
        bottom: 0;
    }
}
@media (max-width: 767px) {
    .ourWay .boxes .column {
        flex-direction: column;
        height: 680px;
    }
    .ourWay .box.two {
        width: 260px;
        height: 50%;
    }
    .ourWay .box.three {
        width: 260px;
        height: 50%;
    }
}
@media (min-width: 992px) {
    .ourWay {
        margin-bottom: -200px;
    }
}
/* End our way */

/* Start consultation */
.consultation {
    padding: var(--padding-section) 0 calc(var(--padding-section) + 60px) 0;
    background-color: var(--base-col1);
    display: flex;
    align-items: center;
}
.consultation .container {
    display: flex;
    flex-direction: column;
}
/* text part */
.consultation .text {
    padding: var(--padding-section) 0;
    color: var(--base-col2);
    text-align: center;
}
.consultation .text h1 {
    font-weight: normal;
    font-size: var(--font-size);
}
/* information part */
.consultation .information {
    padding: var(--padding-section);
    background-color: var(--information-col);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    gap: 10px;
}
/* name,email part */
.consultation .information .name,
.consultation .information .email {
    display: flex;
    align-items: center;
    justify-content: center;
}
.consultation .information label {
    padding: 8px;
}
.consultation .information input {
    border-radius: 5px;
    padding: 10px;
    border: none;
    height: 45px;
}
/* submit button */
.consultation .information button {
    border-radius: 5px;
    padding: 10px;
    height: 45px;
    border: none;
    color: var(--base-col2);
    background-color: var(--base-col1);
    text-transform: uppercase;
    width: 140px;
}
@media (max-width: 767px) {
    .consultation .information {
        flex-direction: column;
    }
    .consultation .information .name,
    .consultation .information .email {
        width: 100%;
    }
    .consultation .information input {
        width: 80%;
    }
}
/* End consultation */

/* start e-commerce WebSites */
.websites {
    padding: var(--padding-section) 0;
    display: flex;
    align-items: center;
    background-color: #3c3c3c;
}
.websites .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* text part */
.websites .text {
    text-align: center;
    letter-spacing: 0.5px;
}
.websites .text h1 {
    font-size: 60px;
    font-weight: normal;
    color: var(--base-col2);
}
.websites .text h1 span {
    font-weight: bold;
    font-size: 57px;
}
/* media quary reducation for small screen */
@media (max-width: 767px) {
    .websites .text h1 {
        font-size: 35px;
    }
    .websites .text h1 span {
        font-size: 31px;
    }
}
.websites .text p {
    color: #afafaf;
    line-height: 1.6;
}
/* boxes part */
.websites .boxes {
    display: flex;
    margin-top: 63px;
    justify-content: center;
    gap: 20px;
    position: relative;
}
/* media query */
@media (max-width: 992px) {
    .websites .boxes {
        flex-direction: column;
        display: flex;
        gap: 55px;
    }
}
@media (min-width: 1200px) {
    .websites .boxes {
        display: flex;
        gap: 70px;
    }
}
/* three boxes */
.websites .boxes .box {
    display: flex;
    background-color: var(--base-col2);
    border-radius: 5%;
    /* align-items: center; (not) because we have paragraph !! check designe */
    position: relative;
    justify-content: flex-start;
    padding: 20px 20px 45px 20px;
    width: 315px;
    flex-direction: column;
    text-align: center;
}
/* image part */
.websites .boxes .box img {
    width: 219px;
    height: 219px;
    border-radius: 50%;
    position: relative;
    top: -47px;
    left: 29px; /*stabilizing photo */
    margin-bottom: -32px;
}
.websites .boxes .box::before {
    content: " ";
    background-color: var(--base-col2);
    position: absolute;
    z-index: 0;
    height: 238px;
    width: 238px;
    top: -37px;
    right: 37px;
    border-radius: 50%;
}

/* text part */
.websites .boxes h1 {
    font-size: 26px;
}
.websites .boxes p {
    font-size: 19px;
    line-height: 2;
    text-align: start;
}
/* link part */
.websites .container h2 {
    color: var(--base-col2);
    font-weight: normal;
    font-size: 20px;
    padding: 20px;
}
.websites .container h2 a {
    color: var(--base-col2);
}

/* end e-commerce WebSites*/
/* start today */
.today {
    padding: var(--padding-section) 0;
    display: flex;
    align-items: center;
    background-color: var(--base-col1);
}
.today .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* text part */
.today .container .text {
    text-align: center;
    letter-spacing: 0.5px;
    color: var(--base-col2);
}
.today .container .text h1 {
    font-size: 37px;
    font-weight: 800;
}
.today .container .text p {
    color: #fbabd0;
    font-size: 16px;
}

/* 'cases part' */
.today .container .cases {
    display: flex;
    margin-top: 63px;
    justify-content: center;
    gap: 100px;
    position: relative;
    color: var(--base-col2);
}
/* media query */
@media (max-width: 992px) {
    .today .container .cases {
        flex-direction: column;
        display: flex;
        gap: 2px;
        align-items: center;
    }
}
@media (min-width: 1200px) {
    .today .container .cases {
        display: flex;
        gap: 200px;
    }
}

.today .cases .case {
    line-height: 50px;
}
.today .cases .case p {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
/* button part */
/* .today .container button {
    background-color: var(--base-col2);
    margin: 45px;
    border-radius: 10px;
    padding: 26px;                !!!!!!(i delet button tag in hatml)!!!!!
    width: 239px;
    border: solid 2px var(--base-col2);
    transition: 0.5s;
} */
.today .container a {
    /* start form button */
    background-color: var(--base-col2);
    margin: 45px;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    border: solid 2px var(--base-col2);
    transition: 0.5s;
    /* end form button */
    /* start text style */
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: var(--base-col1);
    font-size: 18px;
    letter-spacing: 3px;
    /* end text style */
}
.today .container a:hover {
    background-color: transparent;
    color: var(--base-col2);
}
/* end today */
